<li data-id="<%= index %>">
	<img src="/images/logos/<%= logo %>">

	<div>
		<h3><%= company %></h3>
		<input type="text" name="services[<%= index %>][account]" placeholder="Numero de Contrato">
		<input type="hidden" name="services[<%= index %>][service]" value="<%= id %>">
		<button>Save</button>
	</div>
</li>