<li data-id="<%= index %>">
	<img src="/images/logos/<%= logo %>">
	<div>
		<h3><%= name %></h3>
		<input type="text" name="banks[<%= index %>][account]" placeholder="Total a Depositar">
		<input type="hidden" name="banks[<%= index %>][bank]" value="<%= id %>">
		<input type="text" name="banks[<%= index %>][amount]" />
		<button>Save</button>
	</div>
</li>