<li data-id="<%= index %>">
	<img src="/images/logos/<%= logo %>">
	<div>
		<h3><%= company %></h3>
		<input type="text" placeholder="Número de Contrato" name="services[<%= index %>][account]">
		<input type="hidden" name="services[<%= index %>][service]" value="<%= id %>">
		<button class="btn btn-green">Save</button>
	</div>
</li>