<header class="dashboard">
    <h2>Hola, <b><%= firstName + " " + lastName %></b>! Bienvenido a Remesa.me!</h2>
    <p>
        Balance: <strong>$ <%= currentBalance %></strong>
        <a href="/dashboard/load" class="btn btn-left">Recarga ahora!</a><a href="/remittance/new" class="btn btn-right btn-red">Enviar Recarga</a>
    </p>
</header>
<div class="pending-transactions">
    <h3>Transacciones Pendientes</h3>
    <table>
        <thead>
            <tr>
                <th>Fecha de Transacción</th>
                <th>Destinatario</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        <% _.each(pendingTransactions, function (pt) {  %>
            <tr>
                <td><%= pt.transactionDate %></td>
                <td><%= pt.transactionRecipient %></td>
                <td><%= pt.transactionStatus %></td>
            </tr>
            <% });  %>
        </tbody>
    </table>
</div>