<ul class="cards">
<% _.each(cards, function (el){ %>
<li>
	<div>
		<label>Número de la tarjeta:</label> 
		<p><%=el.card_number%></p>
	</div>

	<div>
		<label>Nombre:</label>
		<p><%= el.owner_name %></p>
	</div>

	<div>
		<label>Fecha de expiración:</label> 
		<p><%=el.expiration_date_month%>/<%=el.expiration_date_year%></p>
	</div>

	<div class="large">
		<form class="form-reload" action="/card/reload" method="post">
		
		<input type="text" id="amount" name="amount" placeholder="Cantidad">
		<input type="submit" value="Cargar" class="btn btn-green" />
	</div>

	<a href="/card/destroy/<%= el.id %>" class="delete">
		&times;
	</a>

	<div class="additional" style="display: none">
		<h2>Dirección de Facturación</h2>
		<p>
			<%= el.billing_street%>,
			<%= el.billing_city%>,
			<%= el.billing_province%>,
			<%= el.billing_country%>.
		</p>

		<label>Código Postal:</label>
		<p><%= el.postal_code%></p>
		
		<label>Teléfono:</label>
		<p><%= el.phone_number%></p>
	</div>
 </li>
<% }); %>
</ul>

<a href="/card/newcard" class="btn">Nueva tarjeta</a>