<div class="form-slim">
	<h2>Edit User</h2>

	<form class='form-edit' action="/user/update" method="post">
		<label>First Name:</label>
		<input type="text" id="firstName" name="firstName" value="<%-user.firstName %>"/>

		<label>Last Name:</label>
		<input type="text" id="lastName" name="lastName" value="<%-user.lastName %>"/>

		<label>Email:</label>
		<input type="text" id="emailAddress" name="emailAddress" value="<%-user.emailAddress %>" disabled />

		<label>Birthdate:</label>
		<% var tempDate = new Date(user.birthDate); %>
		<input type="date" id="birthDate" name="birthDate" value="<%-tempDate.toJSON().split('T')[0] %>"/>
		
		<label>Phone number:</label>
		<input type="text" id="phoneNumber" name="phoneNumber" value="<%-user.phoneNumber %>"/>

		<label>Contraseña (dejar en blanco si se desea mantener la misma)</label>
		<input type="password" id="password_hash" name="password_hash"/>
		
		<label>Confirmar Contraseña:</label>
		<input type="password" id="password_hash_confirmation" name="password_hash_confirmation"/>
		
		<footer>
			<input type="submit" value="Submit" class="btn" /> <em>o</em> <a href="/user/show">Cancelar</a>
		</footer>
	</form>
</div>