<div class="show-user">
	<h2><%- user.firstName %> <%- user.lastName %> <a href="/user/edit">Editar Perfil</a></h2>
	<div>
		<label>Correo: </label>
		<p><%- user.emailAddress %></p>
	</div>
	<div>
		<label>Fecha de Nacimiento: </label>
		<p><%- user.birthDate.getDate() %>/<%- user.birthDate.getMonth() + 1 %>/<%- user.birthDate.getFullYear() %></p>
	</div>
	<div>
		<label>Número Telefónico: </label>
		<p><%- user.phoneNumber %></p>
	</div>
	<div>
		<label>Balance: </label>
		<p><b>$</b>	<%- user.balance %></p>
	</div>
</div>