<div>
	<h1><%- user.firstName %> <%- user.lastName %></h1>
	<div>
		<label>Correo: </label>
		<p><%- user.emailAddress %></p>
	</div>
	<div>
		<label>Fecha de Nacimiento: </label>
		<p><%- user.birthDate %></p>
	</div>
	<div>
		<label>Número Telefónico: </label>
		<p><%- user.phoneNumber %></p>
	</div>
	<div>
		<label>Balance: </label>
		<p><%- user.balance %></p>
	</div>
	<a href="/user/edit">edit</a>
</div>